div {
    width: 400px;
    height: 200px;
    border: 12px dashed blueviolet;
    background-color: rgb(208, 189, 141);
}

i {
    background-color: yellow;
}

span {
    text-decoration: underline;
}
table, tr,td,th {
    border: 2px blue dashed !important;
}