* {
    margin: 0;
    padding: 0;
}

.container {
    width: 200px;
    height: 200px;
    background-color: aqua;
}

#red {
    background-color: red;
}

p,h1 {
    color: gold;
}

#red > h3 {
    color: green;
}

.container:first-child{
    border:5px solid black;
}